body {
    margin: 0;
    padding: 25px;
    min-height: 100vh;
    background: linear-gradient(to right, rgb(135, 206, 235), rgb(176, 224, 230)); 
    font-family: "Times New Roman", Times, serif;
  }
  
  .Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(rgb(70, 130, 180), rgb(135, 206, 250)); 
    width: 300px;
    height: 70px;
    margin: auto;
    border-radius: 30px;
    font-weight: bold;
  }
  
  .Voltar {
    background: linear-gradient(rgb(70, 130, 180), rgb(135, 206, 250));
    color: white;
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    font-weight: bold;
  }
  
  .pokemon-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  
  .pokemon-card {
    background: linear-gradient(to bottom right, rgb(173, 216, 230), rgb(224, 255, 255)); 
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(135, 206, 250, 0.6);
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    border-top: 5px solid rgb(176, 224, 230);
  }
  
  .pokemon-image {
    background: linear-gradient(to bottom right, rgb(176, 224, 230), rgb(240, 248, 255)); 
    border-radius: 8px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 15px;
    min-height: 120px;
  }
  
  .pokemon-image img {
    height: 120px;
    width: auto;
    object-fit: contain;
  }
  
  .pokemon-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: rgb(30, 60, 90); 
  }
  
  .pokemon-details p {
    display: flex;
    justify-content: space-between;
    color: rgb(30, 60, 90);
  }
  
  .ghost-badge {
    color: rgb(100, 149, 237); 
    font-size: 1rem;
  }
  
  @media (max-width: 480px) {
    .pokemon-container {
        grid-template-columns: 1fr;
    }
  }
  