body{

}
.campo-em-branco{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.slot1{
    height: 90px;
    width: 500px;
    background-color: rgb(255, 7, 7);
    border-radius: 80px;
}

.slot2{
    height: 90px;
    width: 500px;
    background-color: rgb(255, 7, 7);
    border-radius: 80px;
}
