.campos{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.campo-dentro{  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.caracteristicas {
    width: 40%;
    background-color: black;
    border-radius: 20px;
    height: 100px;
}
